body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.ColourBox {
  width: 20%;
  height: 20%;
}

.GridSquare {
  display: flex;
  width: 800px;
  height: 800px;
  border: 1px solid black;
  flex-wrap: wrap;
}